<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="menu-icon" id="menu-icon">
        <div class="menu-icon__middle"></div>
    </div>
    <nav id="nav">
        <!-- <div class="logo">
                    <img src="https://randomuser.me/api/portraits/men/22.jpg" alt="user">
                    <h1>My Logo</h1>
                </div> -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Me</a></li>
            <li><a href="/terms">Terms</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        {{{body}}}
        <script src="js/main.js"></script>
</body>

</html>