<h1 class="text-center mb-3">{{title}}</h1>
<h4>A new heading</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla doloribus dolore non similique iste natus cum
    perferendis nemo aut quam ipsa debitis, accusamus ipsam? Assumenda ex eveniet tenetur reiciendis ut in delectus
    autem unde, temporibus, porro consequatur doloremque obcaecati minus! Eos doloribus earum voluptatem repellendus
    minima quas ut aspernatur veniam iusto! Doloremque ipsa culpa sint quo tenetur dicta debitis eveniet temporibus
    delectus corrupti, error quibusdam!</p>