<h1 class="text-center mb-3">{{title}}</h1>
<h4>A new heading</h4>
<p>Terms and conditions. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia ex facilis earum, quaerat obcaecati repellendus ratione illum ducimus, dolore officia sit enim.</p>